<h1>Editing <%= @song.title %> by <%= @song.artist_name %></h1> #saying your editing the song that you want by the person who sings it 

<%=render 'form' %> #show the form 
<%= link_to 'cancel Editing', @song %> #a link to a back out button